<!DOCTYPE html>
<!--yani code html5 mikhaim benevisim comment=ctrl+? -->

<!-- ba zadan F5 mitoni khode chrome ro mostaghiman bebini -->
<!-- code html ro dakhel <html></html> minevisim -->
<!-- code html ro  -->
<html>
    <head>
        <!-- href=file aks kojast -->
        <link rel="icon" href="IMAG3890.jpg">
        <!-- tag img baraye neshoon dadane akse | src=souce=address file aks | alt=alternate text(age aks load nahod) -->
        <img src="picture 001.jpg" alt="alternate text">
        <!-- br=break line=khat khali=khat bad=baraye fasele gozari -->
        <br>
        <br>
        <br>
        <img src="G:\git\FC99001\project\p2\quickstart\templates\Picture 001.jpg" alt="jaygozin aks agar nayamad">
        <!-- title site -->
        <title>
            site jadid   
        </title>
        <!-- site jadid balaye safhe baghale icon ee  -->
    </head>
    <body>
        <!-- h1=heading1 ,1=bozorgtarin , 6 = kochacktarin -->
        <h1>
            badminton
        </h1>
        <h2>
            fery
        </h2>
        <h6>
            abc
        </h6>
        <!-- <p> = paragraph -->
            <p>
            learning badminton
        </p>
        <big>
            <big>
                learnig swiming
            </big>
        </big>
        <p><small>
            <small>
                tini tiny
            </small>
        </small>
        </p>
        <!-- deghat kon ke address onlineeee -->
        <img src="https://media.newyorker.com/photos/5f414d36455009552ece4625/master/w_1600%2Cc_limit/Wright-Panda02.jpg" alt="panda">
    </body>
</html>